# Java / Maven
target/
*.log

# Node / React
frontend/node_modules/
frontend/.cache/
**/.cache/
target/
npm-debug.log*
yarn-error.log*

# IDE files
.idea/
*.iml
.vscode/

# System files
.DS_Store
Thumbs.db

# Env and secrets
.env
src/main/resources/application.properties
